.ed0a36ca {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

._41e025a4 {
  color: red; }

._41e025a4:hover {
  color: green; }
.a6c0316d {
  margin: 0; }

.cba02e7c {
  margin-top: 20px; }

._24401cad {
  margin-bottom: 20px; }

.e4fcbfef {
  margin-left: 20px; }

.c1350fba {
  margin-right: 20px; }
