@mixin ui-button($color, $text-color) {
	text-align: center;
	background-color: $color;
	color: $text-color;
	padding: 15px 8px;
	border-radius: 10px;
	border: none;
	@content;

	&:before,
	&:after {
		font-size: 15px;
	}
}