@import '../../assets/styles/utils/all';

.container {
	box-shadow: 0 0 3px 0 #AFAFAF;
	margin-bottom: 35px;
	background: #FFF;
	width: 100%;
}

.heading {
	overflow: hidden;
	font-size: 22px;
	margin: 0;
	padding: 22px 40px 18px;
}

.content {
	display: block;
	padding: 0 40px 22px;
	max-height: 5000px;
	transition: max-height .5s ease-in-out;

	@include media('mobile') {
		padding: 0 20px 22px;
	}

	&:before {
		display: block;
		margin-bottom: 18px;
		width: 100%;
		height: 1px;
		content: "";
	}
}
