// Primary colours
$color-red: #E60000;
$color-mine-shaft: #333333;
$color-white: #FFFFFF;
$color-green: #428600;


// Secondary colours
$color-black: #000000;
$color-red-berry: #990000;
$color-guardsman-red: #BD0000;
$color-seance: #9C2AA0;
$color-finn: #5E2750;
$color-buddha-gold: #A8B400;
$color-supernova: #FECB00;
$color-tangerine: #EB9700;
$color-blue-lagoon: #007C92;
$color-cerulean: #00B0CA;
$color-provincialpink: #FEF2F2;


// Monochrome colours
$color-black: #000000;
$color-mine-shaft: #333333;
$color-mine-shaft-light: #3D3D3D;
$color-abbey: #4A4D4E;
$color-ironside-gray: #6F6E6B;
$color-dove-gray: #666666;
$color-dusty-gray: #999999;
$color-silver-chalice: #AFAFAF;
$color-silver: #CCCCCC;
$color-mercury-dark: #E4E4E4;
$color-gallery: #EBEBEB;
$color-wild-sand: #F4F4F4;
$color-white: #FFFFFF;
$color-deep-sea: #283E5D;


// Commonly used throughout
$color-mine-shaft-dark: #2A2A2A;
$color-tundora: #434343;
$color-alto: #D6D6D6;
$color-mercury: #E5E5E5;


// Notifications colours
$color-sprout: #C7DCB4;
$color-limeade: #428600;
$color-cerulean: #00B0CA;
$color-blizzard-blue: #B3E8EF;
$color-cherryade: #F7B1B1;
$color-carrot-light: #FADFB3;
